<header class="p-3 bg-dark text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "Home", "/lists", class: "nav-link px-2 text-white" %></li>
        <li><a href="http://print-passion.com/I0oAdLoSQNuV/Panneau-travaux-27.jpg" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="http://print-passion.com/I0oAdLoSQNuV/Panneau-travaux-27.jpg" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="http://print-passion.com/I0oAdLoSQNuV/Panneau-travaux-27.jpg" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="http://print-passion.com/I0oAdLoSQNuV/Panneau-travaux-27.jpg" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </div>
</header>

<br>


  <h2>Movies:</h2>
<br>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% @list.movies.each do |movie| %>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="200" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= image_tag "#{movie.poster_url}"%></text></svg>

            <div class="card-body">
              <p class="card-text"><%= "#{movie.title} | #{movie.rating}⭑" %></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
       <% end %>
      </div>


<% @list.movies.each do |movie| %>
<p><%= "#{movie.title} | #{movie.rating}⭑" %></p>
<%= image_tag "#{movie.poster_url}"%>
<% end %>
<br>
<%= link_to 'Add movie', new_list_bookmark_path(@list) %>
<br>
<%= link_to 'Home page', lists_path %>
